!!! 5
html(lang='en')
  head
    include includes/assets


  body

    // NAVIGATION
    include includes/navigation

    // CONTAINER
    .container-fluid

      // SIDEBAR
      .sidebar

        strong Jump to:
        ul.unstyled
          li: h5: a(href='#create') Create
          li: h5: a(href='#update') Update
          li: h5: a(href='#destroy') Destroy
          li: h5: a(href='#list') List
          li: h5: a(href='#get-swarm-info') Get Swarm Info

      // CONTENT
      .content

        // Path
        .page-header
          a(href='index.html') Home
          |  &rarr;
          a(href='api_documentation.html') API Documentation
          |  &rarr;
          a(href='configuration_api.html') Configuration

        // Header
        h1 Swarms
        p
          | Manage your swarms with the RESTful API.
        .page-header

        // Create
        h3#create Create

        // Description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms
                li
                  strong Method: 
                  | POST
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  ,
                  br
                  code "content-type: application/json"
                li
                  strong Parameters (Required): 
                  | None
                li
                  strong Parameters (Optional): 
                  | None
          .span8.columns
            p
              | Each swarm is created by and belongs to a given user, however, many user's
              | resources may be members of a swarm at the swarm owner's discretion. Users 
              | can use this method to create a swarm. The method passes a JSON file containing 
              | information relevant to the creation of a swarm. Once a swarm is created, users can then
              a(href='restful_swarm_resources.html#add') add
              |  resources to it. Additionally, users may specify any of their own resources to add to the
              | swarm by default upon creation. This is configured in the JSON file that gets passed.

        // body
        strong Body: 
        | The "name" and "description" fields are
        strong required
        | . The "public" and "resources" fields are
        strong optional
        | .
        pre.prettyprint.language-javascript.
          {
              "name": "My Other Swarm",
              "description": "My Other Swarm Description",
              "public": false,               
              "resources": [
                  { "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                    "resource_type": "consumer"
                  }
              ]
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code create_swarm.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X POST -d@create_swarm.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms

        // returns
        strong Returns: 
        | The created swarm and its configuration in JSON format. The "resources" field will exist as an empty
        | array if no resources are given upon creation.
        pre.prettyprint.language-javascript.
          {
              "id": "92236421f64633430baa54fd9848e03aa2696111",
              "user_id": "username",
              "description": "My Other Swarm description",
              "name": "My Other Swarm"
              "created_at": "2011-08-29T20:17:08.676Z",
              "resources": [
                  {
                      "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                      "resource_type": "consumer",
                      "user_id": "username",
                      "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0"
                  }                      
              ],
              "public": false
          }
        .page-header

        // Update
        h3#update Update

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID
                li
                  strong Method: 
                  | PUT
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  ,
                  br
                  code "content-type: application/json"
                li
                  strong Parameters (Required): 
                  | None
                li
                  strong Parameters (Optional): 
                  | None
          .span8.columns
            p
              | Swarms belonging to a given user can have some of their information updated after
              | creation. Updating a swarm involves passing a JSON file containing the fields that 
              | the user wishes to update.

        // body
        strong Body: 
        | All fields are
        strong optional
        | .
        pre.prettyprint.language-javascript.
          {
              "description": "My Swarm description updated",
              "public": true
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code update_swarm.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X PUT -d@update_swarm.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms/SWARM_ID

        // returns
        strong Returns: 
        | The updated swarm in JSON format, including a "modifed_at" field.
        pre.prettyprint.language-javascript.
          {
              "description": "My Other Swarm description",
              "modified_at": "2011-10-10T01:08:54.688Z",
              "id": "92236421f64633430baa54fd9848e03aa2696111",
              "name": "My Other Swarm"
              "user_id": "username",
              "created_at": "2011-08-29T20:17:08.676Z",
              "resources": [
                  {
                      "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                      "resource_type": "consumer",
                      "swarm_id": "92236421f64633430baa54fd9848e03aa2696111",
                      "user_id": "username",
                      "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0"
                      "_id": "4e92440324ecf2190900006f",
                      "member_since": "2011-10-10T01:01:55.184Z"
                  }                      
              ],
              "public": true
          }        
        .page-header

        // Destroy
        h3#destroy Destroy

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID
                li
                  strong Method: 
                  | DELETE
                li
                  strong Headers: 
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | Destroy a swarm. Destroying a swarm removes it completely from the user account.
              | The method uses the unique swarm id specified in the URL to determine which swarm
              | to destroy.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          \ncurl -X DELETE --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID

        // returns
        strong Returns: 
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header

        // List 
        h3#list List

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms
                li
                  strong Method: 
                  | GET
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | Resource type
          .span8.columns
            p
              | List all of the swarms owned by the user. Each listed swarm will also contain the
              | resources that are a member of that swarm.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms

        // returns
        strong Returns: 
        | A list of swarms in JSON format.
        pre.prettyprint.language-javascript.
          [
              {
                  "id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                  "user_id": "username",
                  "description": "My Swarm description",
                  "name": "My Swarm",
                  "created_at": "2011-08-29T20:17:08.676Z",
                  "resources": [
                      {
                          "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                          "resource_type": "producer",
                          "user_id": "username",
                          "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                          "_id": "4e92440324ecf2190900006f",
                          "member_since": "2011-10-10T01:01:55.184Z"
                      },
                      {
                          "resource_id": "4735f4417f4fd2eb67ace9f2d2e7948e2d9f43f9",
                          "resource_type": "both",
                          "user_id": "username",
                          "url": "http://api.bugswarm.net/resources/4735f4417f4fd2eb67ace9f2d2e7948e2d9f43f9",
                          "_id": "4e92440324ecf2190900705a",
                          "member_since": "2011-10-10T01:01:55.184Z"
                      }
                  ],
                  "public": true
              },
              {
                  "id": "92236421f64633430baa54fd9848e03aa2696111",
                  "user_id": "username",
                  "description": "My Other Swarm description",
                  "name": "My Other Swarm",
                  "created_at": "2011-08-29T20:17:08.676Z",
                  "resources": [
                      {
                          "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                          "resource_type": "consumer",
                          "user_id": "username",
                          "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                          "_id": "4e92440324ecf2190900006f",
                          "member_since": "2011-10-10T01:01:55.184Z"
                      }                      
                  ],
                  "public": false
              }
          ]

        .page-header

        // Get Swarm Info
        h3#get-swarm-info Get Swarm Info

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID
                li
                  strong Method: 
                  | GET
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | Swarms in a user's account carry with them a list of information regarding the swarm in
              | addition to representations of the resources they contain. This method retrieves 
              | that information for a given swarm and prints it in JSON format. The ID of the 
              | swarm to retrieve the information from is given in the URL.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID

        // returns
        strong Returns: 
        | A swarm in JSON format with its contained resources.
        pre.prettyprint.language-javascript.
          {
              "description": "My Other Swarm description",
              "id": "92236421f64633430baa54fd9848e03aa2696111",
              "modified_at": "2011-10-10T01:08:54.688Z",
              "name": "My Other Swarm"
              "user_id": "username",
              "created_at": "2011-08-29T20:17:08.676Z",
              "resources": [
                  {
                      "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                      "resource_type": "consumer",
                      "user_id": "username",
                      "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0"
                      "_id": "4e92440324ecf2190900006f",
                      "member_since": "2011-10-10T01:01:55.184Z"
                  }                      
              ],
              "public": true
          }        

        .page-header
