!!! 5
html(lang='en')
  head
    include includes/assets


  body

    // NAVIGATION
    include includes/navigation

    // CONTAINER
    .container-fluid

      // SIDEBAR
      .sidebar

        strong Jump to:
        ul.unstyled
          li: h5: a(href='#create') Create
          li: h5: a(href='#update') Update
          li: h5: a(href='#destroy') Destroy
          li: h5: a(href='#list') List
          li: h5: a(href='#get-swarm-info') Get Swarm Info

      // CONTENT
      .content

        // Path
        .page-header
          a(href='index.html') Home
          |  &rarr;
          a(href='api_documentation.html') Documentation
          |  &rarr;
          a(href='restful_api.html') REST API

        // Header
        h1 Swarms
        p
          | Manage your swarms with the REST API.
        .page-header

        // Create
        h3#create Create

        // Description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms
                li
                  strong Method: 
                  | POST
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  ,
                  br
                  code "content-type: application/json"
                li
                  strong Parameters (Required): 
                  | None
                li
                  strong Parameters (Optional): 
                  | None
          .span8.columns
            p
              | Each swarm is created by and belongs to a given user, however, many user's
              | resources may be members of a swarm at the swarm owner's discretion. Users 
              | can use this method to create a swarm. The method passes a JSON file containing 
              | information relevant to the creation of a swarm. Once a swarm is created, users can then
              a(href='restful_swarm_resources.html#add') add
              |  resources to it.

        // body
        strong Body: 
        | The "name" and "description" fields are
        strong required
        | . The "public" field is
        strong optional
        | .
        pre.prettyprint.language-javascript.
          {
              "name": "My Swarm",
              "description": "My Swarm Description",
              "public": false
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code create_swarm.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X POST -d@create_swarm.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms

        // returns
        strong Returns: 
        | The created swarm and its unique ID in JSON format.
        pre.prettyprint.language-javascript.
          {
              "swarm":"a16fb1d896817c58d4f4be9dea51e74b86519579"
          }
        .page-header

        // Update
        h3#update Update

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID
                li
                  strong Method: 
                  | PUT
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  ,
                  br
                  code "content-type: application/json"
                li
                  strong Parameters (Required): 
                  | None
                li
                  strong Parameters (Optional): 
                  | None
          .span8.columns
            p
              | Swarms belonging to a given user can have some of their information updated after
              | creation. Updating a swarm involves passing a JSON file containing the fields that 
              | the user wishes to update.

        // body
        strong Body: 
        | All fields are
        strong optional
        | .
        pre.prettyprint.language-javascript.
          {
              "description": "My Swarm description updated",
              "public": true
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code update_swarm.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X PUT -d@update_swarm.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms/a16fb1d896817c58d4f4be9dea51e74b86519579

        // returns
        strong Returns: 
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header

        // Destroy
        h3#destroy Destroy

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID
                li
                  strong Method: 
                  | DELETE
                li
                  strong Headers: 
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | Destroy a swarm. Destroying a swarm removes it completely from the user account.
              | The method uses the unique swarm id specified in the URL to determine which swarm
              | to destroy.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          \ncurl -X DELETE --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/a16fb1d896817c58d4f4be9dea51e74b86519579          

        // returns
        strong Returns: 
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header

        // List 
        h3#list List

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms
                li
                  strong Method: 
                  | GET
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | Resource type
          .span8.columns
            p
              | List all of the swarms owned by the user. Each listed swarm will also contain the
              | resources that are a member of that swarm.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms

        // returns
        strong Returns: 
        | A list of swarms in JSON format.
        pre.prettyprint.language-javascript.
          [
              {
                  "_id": "4e5bf3c4cc1fdb5970000028",
                  "created_at": "2011-08-29T20:17:08.676Z",
                  "description": "My Swarm description",
                  "id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                  "name": "My Swarm",
                  "public": true,
                  "resources": [
                      {
                          "_id": "4e5bf5c8cc1fdb597000005b",
                          "created_at": "2011-08-29T20:25:44.565Z",
                          "id": "My Resource id",
                          "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                          "type": "producer",
                          "user_id": "username"
                      },
                      {
                          "_id": "4e5bf5c8cc1fdb597000005b",
                          "created_at": "2011-08-29T20:25:44.565Z",
                          "id": "My Other Resource id",
                          "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                          "type": "consumer",
                          "user_id": "username"
                      }
                  ],
                  "user_id": "username"
              }
          ]
        .page-header

        // Get Swarm Info
        h3#get-swarm-info Get Swarm Info

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/${SWARM_ID}
                li
                  strong Method: 
                  | GET
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | Swarms in a user's carry with them a list of information regarding the swarm in
              | addition to representations of the resources they contain. This method retrieves 
              | that information for a given swarm and prints it in JSON format. The ID of the 
              | swarm to retrieve the information from is given in the URL.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/a16fb1d896817c58d4f4be9dea51e74b86519579

        // returns
        strong Returns: 
        | A swarm in JSON format with its contained resources.
        pre.prettyprint.language-javascript.
          [
              {
                  "_id": "4e5bf3c4cc1fdb5970000028",
                  "created_at": "2011-08-29T20:17:08.676Z",
                  "description": "My Swarm description",
                  "id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                  "name": "My Swarm",
                  "public": true,
                  "resources": [
                      {
                          "_id": "4e5bf5c8cc1fdb597000005b",
                          "created_at": "2011-08-29T20:25:44.565Z",
                          "id": "My Resource id",
                          "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                          "type": "producer",
                          "user_id": "username"
                      },
                      {
                          "_id": "4e5bf5c8cc1fdb597000005b",
                          "created_at": "2011-08-29T20:25:44.565Z",
                          "id": "My Other Resource id",
                          "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                          "type": "consumer",
                          "user_id": "username"
                      }
                  ],
                  "user_id": "username"
              }
          ]
        .page-header
