!!! 5
html(lang='en')
  head
    include includes/assets

  body

    // NAVIGATION
    include includes/navigation

    // CONTAINER
    .container

        // Path
        .page-header
          a(href='index.html') Home
          |  &rarr; 
          a(href='documentation.html') Documentation
          |  &rarr; 
          a(href='configuration_api.html') Configuration API
          |  &rarr; 
          | Swarms

        // Jump to dropdown
        .topbar-inner.jump-bar
          .nav.jump-nav
            .dropdown.jump-dropdown
              a.jump-header.dropdown-toggle(href='documentation.html') Jump to
              ul.dropdown-menu.jump-menu
                li: a(href='#create') Create
                li: a(href='#update') Update
                li: a(href='#destroy') Destroy
                li: a(href='#list') List
                li: a(href='#get-info') Get Info
                li: a(href='#add-resource') Add Resource
                li: a(href='#remove-resource') Remove Resource
                li: a(href='#list-resources') List Resources                 

        // Header
        h1 Swarms
        p
          | Create and manage your swarms.
        .page-header

        // Create
        h3#create Create

        // Description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms
                li
                  strong Method: 
                  | POST
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  ,
                  br
                  code "content-type: application/json"
                li
                  strong Parameters (Required): 
                  | None
                li
                  strong Parameters (Optional): 
                  | None
          .span8.columns
            p
              | Create a swarm by passing a JSON object representing the swarm to create. After creation,
              | you may 
              a(href='restful_swarms.html#add-resource') add
              |  resources to the swarm. Additionally, users may specify any of their own resources to add to the
              | swarm by default upon creation. This is configured in the JSON object that gets passed.

        // body
        strong Body: 
        | The "name" and "description" fields are
        strong required
        | . The "public" and "resources" fields are
        strong optional
        | . The "public" field defaults to
        strong false 
        | if not specified.
        pre.prettyprint.language-javascript.
          {
              "name": "My Other Swarm",
              "description": "My Other Swarm Description",
              "public": false,               
              "resources": [
                  { "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                    "resource_type": "consumer"
                  }
              ]
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code create_swarm.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X POST -d@create_swarm.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms

        // returns
        strong Returns: 
        | The created swarm and its configuration as a JSON object. The "resources" field will exist as an empty
        | array if no resources are given upon creation.
        pre.prettyprint.language-javascript.
          {
              "id": "92236421f64633430baa54fd9848e03aa2696111",
              "user_id": "username",
              "description": "My Other Swarm description",
              "name": "My Other Swarm"
              "created_at": "2011-08-29T20:17:08.676Z",
              "resources": [
                  {
                      "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                      "resource_type": "consumer",
                      "user_id": "username",
                      "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0"
                  }                      
              ],
              "public": false
          }
        .page-header

        // Update
        h3#update Update

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID
                li
                  strong Method: 
                  | PUT
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  ,
                  br
                  code "content-type: application/json"
                li
                  strong Parameters (Required): 
                  | None
                li
                  strong Parameters (Optional): 
                  | None
          .span8.columns
            p
              | Update a swarm by passing a JSON object containing the fields that 
              | the you wish to update.

        // body
        strong Body: 
        | All fields are
        strong optional
        | .
        pre.prettyprint.language-javascript.
          {
              "name": "My Other Swarm updated",
              "description": "My Other Swarm description updated",
              "public": true
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code update_swarm.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X PUT -d@update_swarm.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms/SWARM_ID

        // returns
        strong Returns: 
        | The updated swarm as a JSON object, including a "modified_at" field.
        pre.prettyprint.language-javascript.
          {
              "description": "My Other Swarm description updated",
              "modified_at": "2011-10-10T01:08:54.688Z",
              "id": "92236421f64633430baa54fd9848e03aa2696111",
              "name": "My Other Swarm"
              "user_id": "username",
              "created_at": "2011-08-29T20:17:08.676Z",
              "resources": [
                  {
                      "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                      "resource_type": "consumer",
                      "swarm_id": "92236421f64633430baa54fd9848e03aa2696111",
                      "user_id": "username",
                      "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                      "member_since": "2011-10-10T01:01:55.184Z"
                  }                      
              ],
              "public": true
          }        
        .page-header

        // Destroy
        h3#destroy Destroy

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID
                li
                  strong Method: 
                  | DELETE
                li
                  strong Headers: 
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | Destroy a swarm. Destroying a swarm removes it completely from the user account.
              | The method uses the unique swarm id specified in the URL to determine which swarm
              | to destroy.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          \ncurl -X DELETE --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID

        // returns
        strong Returns: 
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header

        // List 
        h3#list List

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms
                li
                  strong Method: 
                  | GET
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | Resource type
          .span8.columns
            p
              | List all of the swarms owned by the user. Each listed swarm will also contain the
              | resources that are a member of that swarm.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms

        // returns
        strong Returns: 
        | A list of swarms as a JSON array.
        pre.prettyprint.language-javascript.
          [
              {
                  "id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                  "user_id": "username",
                  "description": "My Swarm description",
                  "name": "My Swarm",
                  "created_at": "2011-08-29T20:17:08.676Z",
                  "resources": [
                      {
                          "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                          "resource_type": "producer",
                          "user_id": "username",
                          "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                          "member_since": "2011-10-10T01:01:55.184Z"
                      },
                      {
                          "resource_id": "4735f4417f4fd2eb67ace9f2d2e7948e2d9f43f9",
                          "resource_type": "both",
                          "user_id": "username",
                          "url": "http://api.bugswarm.net/resources/4735f4417f4fd2eb67ace9f2d2e7948e2d9f43f9",
                          "member_since": "2011-10-10T01:01:55.184Z"
                      }
                  ],
                  "public": true
              },
              {
                  "id": "92236421f64633430baa54fd9848e03aa2696111",
                  "user_id": "username",
                  "description": "My Other Swarm description",
                  "name": "My Other Swarm",
                  "created_at": "2011-08-29T20:17:08.676Z",
                  "resources": [
                      {
                          "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                          "resource_type": "consumer",
                          "user_id": "username",
                          "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                          "member_since": "2011-10-10T01:01:55.184Z"
                      }                      
                  ],
                  "public": false
              }
          ]

        .page-header

        // Get Info
        h3#get-info Get Info

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID
                li
                  strong Method: 
                  | GET
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | This method retrieves 
              | the information for a given swarm. The id of the 
              | swarm to retrieve the information from is given in the URL.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID

        // returns
        strong Returns: 
        | A swarm as a JSON object.
        pre.prettyprint.language-javascript.
          {
              "description": "My Other Swarm description",
              "id": "92236421f64633430baa54fd9848e03aa2696111",
              "modified_at": "2011-10-10T01:08:54.688Z",
              "name": "My Other Swarm"
              "user_id": "username",
              "created_at": "2011-08-29T20:17:08.676Z",
              "resources": [
                  {
                      "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                      "resource_type": "consumer",
                      "user_id": "username",
                      "url": "http://api.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                      "member_since": "2011-10-10T01:01:55.184Z"
                  }                      
              ],
              "public": true
          }        

        .page-header

        // Add Resource
        h3#add-resource Add Resource

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID/resources
                li
                  strong Method: 
                  | POST
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  br
                  code "content-type: application/json"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | Each swarm is owned by a given user and can be configured to contain resources.
              | Swarms can contain the resources of many members. This method adds a resource 
              | to a given swarm. The method passes a JSON file containing the swarm-relevant 
              | information regarding the resource to add. The "type" field passed in the JSON 
              | refers to whether the resource will act as a producer or a consumer. This method
              | can only be used to add your resources to a swarm that you own. To add another
              | member's resource(s) to your swarm or to join another member's swarm with your
              | resources, please see the 
              a(href='restfu_invitations.html') invitations 
              | section of the API documentation.

        // body 
        strong Body: 
        | A JSON file containing the information of the resource to add that is relevant to
        | the context of a swarm.
        pre.prettyprint.language-javascript.
          {
              "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
              "resource_type": "consumer"
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code add_resource.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X POST -d@add_resource.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms/SWARM_ID/resources

        // returns
        strong Returns: 
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header

        // Remove Resource
        h3#remove-resource Remove Resource

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID/resources
                li
                  strong Method: 
                  | DELETE
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}",
                  br
                  code "content-type: application/json"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | None
          .span8.columns
            p
              | Each swarm is owned by a given user and can be configured to contain resources.
              | Swarms can contain the resources of many members. This method removes a resource 
              | from a given swarm. The method passes a JSON file containing the information regarding the
              | resource to remove. Removing a resource from a swarm does not remove it from the
              | user account. To perform this action, use the
              a(href='restful_user_resources.html#destroy') Destroy
              |  method for user resources.

        // body
        strong Body: 
        | A JSON file containing the information of the resource to remove from the swarm.
        pre.prettyprint.language-javascript.
          {
              "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
              "resource_type": "consumer"
          }

        // usage
        strong Usage: 
        | Create a JSON file with the name
        code remove_resource.json
        |  and matching the above format. Then execute: 
        pre.prettyprint.language-javascript.
          curl -X DELETE -d@remove_resource.json --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" --header "content-type: application/json" http://api.bugswarm.net/swarms/SWARM_ID/resources

        // returns
        strong Returns: 
        a(href='http_response_codes.html') HTTP Response Codes
        br
        br
        .page-header

        // List Resources
        h3#list-resources List Resources

        // description
        .row
          .span8.columns
            ul.unstyled
              li
                strong URL: 
                code http://api.bugswarm.net/swarms/SWARM_ID/resources
                li
                  strong Method: 
                  | GET
                li
                  strong Headers: 
                  br
                  code "x-bugswarmapikey: ${API_KEY}"
                  li
                    strong Parameters (Required): 
                    | None
                  li
                    strong Parameters (Optional): 
                    | Resource type
          .span8.columns
            p
              | Users may list the resources that are members of a given swarm. The list will
              | print each resource and its swarm-relevant information in JSON format.

        // usage
        strong Usage: 
        pre.prettyprint.language-javascript.
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID/resources
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID/resources?type=producer
          curl -X GET --header "x-bugswarmapikey: 911cbc244827dba9c6dbdd09aff3e5e8fe5eee02" http://api.bugswarm.net/swarms/SWARM_ID/resources?type=consumer

        // returns 
        strong Returns: 
        | A list of resources as as JSON array.
        pre.prettyprint.language-javascript.
          [
              {
                  "resource_id": "33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                  "resource_type": "producer",
                  "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                  "user_id": "username",
                  "url": "http://api.dev.bugswarm.net/resources/33e675f7888c1d7f6f5da41bcccdff7b67f6c9a0",
                  "member_since": "2011-10-10T01:01:55.184Z"
              },
              {
                  "resource_id": "4735f4417f4fd2eb67ace9f2d2e7948e2d9f43f9",
                  "resource_type": "consumer",
                  "swarm_id": "a16fb1d896817c58d4f4be9dea51e74b86519579",
                  "user_id": "username",
                  "url": "http://api.dev.bugswarm.net/resources/4735f4417f4fd2eb67ace9f2d2e7948e2d9f43f9",
                  "member_since": "2011-10-10T02:13:08.537Z"
              }
          ]

        .page-header
